@tailwind base; /* Preflight will be injected here */

@tailwind components;

@tailwind utilities;

#root {
  min-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  @apply bg-gray-900 text-gray-50;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #141313;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
